p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}

.layout-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}
.button-container {
  display: flex;
  gap: 80px;
}
.nav-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.nav-button {
  background-color: #007bff;
  color: #fff;
}
.nav-button:hover {
  /* background-color: #0056b3; */
}
.nav-button.active {
  border: 3px dotted #fff;
}

.container {
  padding: 10px 20px;
}
.no-record {
  text-align: center;
  font-size: 24px;
  color: #999;
  margin-top: 50px;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2px;
}
.search-bar input[type="text"] {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 16px;
}
.search-bar .search-button {
  padding: 10px;
  background-color: #9fa5aa;
  border: 1px solid #9fa5aa;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar .search-button:hover {
  background-color: #797a7b;
}
.search-bar .search-button svg {
  fill: white;
  width: 20px;
  height: 20px;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.card-wrapper {
  position: relative;
  transition: all 0.3s ease;
}
.card-wrapper.expanded {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  z-index: 1001;
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  background-color: #f8f8f8;
  /* background-color: #ebe9e9; */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
}
.summary-container {
  flex-grow: 1;
  margin-bottom: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.summary {
  display: block;
}
.toggle-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 10px;
}
.toggle-button:hover {
  text-decoration: underline;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.access-button,
.go-to-button {
  margin: 10px 0px;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}
.go-to-button {
  background-color: #138496;
}
.go-to-button:hover {
  background-color: #0b616e;
}
.access-button {
  background-color: #5a6268;
}
.access-button:hover {
  background-color: #3d444a;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
/* Modal Styles */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1002;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal.show {
  display: block;
} */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1002;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  display: flex;
}
.modal-content2 {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 80%;
  /* max-width: 600px; */
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation-name: modalopen;
  animation-duration: 0.3s;
}
.modal-header,
.modal-footer {
  padding: 10px;
  color: #333;
  text-align: center;
  /* border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;  */
}
.modal-header {
  /* border-bottom: 1px solid #e5e5e5; */
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.modal-body {
  padding: 2px 16px;
}
.modal-footer {
  /* border-top: 1px solid #e5e5e5; */
  text-align: right;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
  margin-right: -10px;
}
.close:hover,
.close:focus {
  color: #555555;
  text-decoration: none;
  cursor: pointer;
}
@keyframes modalopen {
  from {
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.modal2.show {
  display: flex;
}
.modal-footer-link:hover,
.modal-footer-link.focus {
  text-decoration: underline;
  color: blue;
}

.pagination {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
.pagination-button {
  padding: 8px 16px;
  margin: 0 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.pagination-button:hover {
  background-color: #f0f0f0;
}
.pagination-number.active {
  color: #070707;
  border-color: #5a6268;
}
.pagination-button.active:hover {
  background-color: #0056b3;
}
.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.pagination-button:disabled:hover {
  background-color: #fff;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
  /* padding: 20px; */
  padding-top: 20px;
}
.page-content {
  /* background-color: blueviolet; */
  flex-grow: 1;
  width: 100%;
}


/*# sourceMappingURL=https://localhost:8080/assets/visual.css.map*/